[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

asyncio-redis = "*"
cbor = "*"
cffi = "*"
numpy = "*"
pyrtlsdr = {git = "https://github.com/itdaniher/pyrtlsdr.git"}
cython = "*"
pynacl = {git = "https://github.com/pyca/pynacl.git"}
bottleneck = "*"
blosc = {git = "https://github.com/Blosc/python-blosc.git"}
aiohttp = "*"


[dev-packages]

