[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cbor = "*"
cffi = "*"
numpy = "*"
pyrtlsdr = {git = "https://github.com/roger-/pyrtlsdr.git"}
cython = "*"
pynacl = {git = "https://github.com/pyca/pynacl.git"}
scikit-build = "*"
bottleneck = "*"
blosc = {git = "https://github.com/Blosc/python-blosc.git"}
aiohttp = "*"
aioredis = "*"
scipy = "*"
"ulid2" = "*"
boto3 = "*"
pint = "*"
arrow = {git = "https://github.com/crsmithdev/arrow"}
palettable = "*"
xxhash = "*"

[scripts]
lint = "bash scripts/lint"

[dev-packages]
pyqrcode = "*"
aioconsole = "*"
isort = "*"
vulture = "*"
bpython = "*"
