[Unit]
Description=unprivileged init
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=basic.target

[Service]
Type=forking
User=sproutwave
Group=sproutwave
ExecStart=/usr/bin/python3 /home/sproutwave/init_unpriv.py

[Install]
WantedBy=basic.target
